.TamerChart {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 0;
  min-width: 0;

  > .tamer-chart-aux {
    width: 100%;
    height: 100%;

    .tamer-harmonics,
    .tamer-harmonics-boom {
      pointer-events: none;
    }

    .tamer-harmonics-boom {
      fill: var(--color-warn);
      fill-opacity: 0.18;
      stroke-opacity: 0;
    }

    > svg > .aux-handles > .aux-charthandle {
      &.tamer-search-lo,
      &.tamer-search-hi {
        > .aux-handle {
          fill: var(--color-accent);
          fill-opacity: 0.18;
        }

        &.aux-active > .aux-handle {
          fill-opacity: 0.35;
        }

        > .aux-line1,
        > .aux-line2 {
          stroke: var(--color);
          stroke-opacity: 0.66;
        }

        > .aux-label {
          fill-opacity: 0.75;
        }
      }
    }
  }
}
