.DelayEchoChart {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  width: 100%;

  > .echo-pane {
    flex: 1;
    background: var(--background);

    > svg {
      > .aux-grid {
        > .aux-gridline.echo-grid-beat {
          stroke: var(--color);
          stroke-opacity: 0.28;
        }

        > .aux-gridline.echo-grid-unit {
          stroke: var(--color);
          stroke-opacity: 0.1;
        }
      }
    }

    .echo-l {
      fill: var(--color-accent);
      fill-opacity: 0.85;
      stroke: none;
    }

    .echo-r {
      fill: var(--color-warn);
      fill-opacity: 0.85;
      stroke: none;
    }
  }
}
