.FrequencyRange {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  position: relative;

  > .listen,
  > .WithInfo:has(> .listen) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    > .Toggle {
      background: transparent;
    }
  }

  > .EQChart {
    flex: 1;
    min-height: 100px;
    background: var(--background);
  }

  .filter {
    display: flex;
    gap: 16px;
    align-items: center;
  }
}
