.FrequencyRange {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  position: relative;

  > .listen {
    position: absolute;
    top: var(--gap);
    left: var(--gap);
    z-index: 1;
    background: transparent;
  }

  > .EQChart {
    flex: 1;
    min-height: 100px;
  }

  .filter {
    display: flex;
    gap: 16px;
    align-items: center;
  }
}
